
<!DOCTYPE html>
<html>
<head>
    <title>为生活加点料！</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css"/>
    @*<link rel="stylesheet" href="http://cdn.amazeui.org/amazeui/2.7.2/css/amazeui.min.css" />*@
    @Scripts.Render("~/bundles/js")
    <script type="text/javascript" src="http://tajs.qq.com/stats?sId=58881629" charset="UTF-8"></script>
    <script type="text/javascript" src="~/Scripts/Js/baidutongji.js" charset="UTF-8"></script>
    <script type="text/javascript" src="~/Scripts/Js/baidufenxiang.js" charset="UTF-8"></script>
    <script type="text/javascript" src="http://cdn.amazeui.org/amazeui/2.7.2/js/amazeui.min.js" charset="UTF-8"></script>
    <script src="http://static.runoob.com/assets/react/browser.min.js"></script>
</head>
<style>
    html, body, h1, h2, h3, h4, h5 {
        font-family: "Open Sans", sans-serif;
    }
</style>
<body class="w3-theme-l5">
    <!-- Navbar -->
    <div class="w3-top header-color">
        <a class="logo" href="/"></a>
        <img style="display:inline-block;margin-bottom: 0" src="~/Content/Images/new_font.PNG" />
    </div>

    <!-- Page Container -->
    <div class="w3-container w3-content" style="max-width: 1400px; margin-top: 100px; min-height:700px">
        <!-- The Grid -->
        <div class="w3-row">
            <!-- Left Column -->
            <div class="w3-col m3">
                <!-- Profile -->
                <div class="w3-card-2 w3-round w3-white">
                    <div class="w3-container">
                    </div>
                </div>
            </div>

            <!-- Middle Column -->
            <div class="w3-col m5">
                @RenderBody()
            </div>

            <!-- Right Column -->
            <div class="w3-col m3">
                <div class="w3-card-2 w3-round w3-white w3-center">
                    <div class="w3-container">

                    </div>
                </div>
            </div>

            <!-- End Grid -->
        </div>

        <!-- End Page Container -->
    </div>
    <br>

    <!-- Footer -->
<footer class="w3-container header-color w3-padding-16" style="text-align: center">
    <div style="font-size: 12px; color: white">联系方式: ilove23333@163.com</div>
    <a onclick="document.getElementById('feed_back').style.display = 'block'" style="color: red; font-weight: bold;text-decoration: none " href="#">我有一个好建议！</a>

    <div id="feed_back" class="w3-modal">
        <div class="w3-modal-content w3-card-8 w3-animate-zoom" style="max-width:600px">

            <div class="w3-center">
                <br>
                <span onclick="document.getElementById('feed_back').style.display = 'none'" class="w3-closebtn w3-hover-red w3-container w3-padding-8 w3-display-topright" title="关闭">×</span>
                <img src="~/Content/Images/Logo.jpg" alt="Avatar" style="width:30%" class="w3-circle w3-margin-top">
            </div>

            <form class="w3-container" action="/home/feedback" method="post">
                <div class="w3-section">
                    <label><b>我的邮箱</b></label>
                    <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="在这里输入我的联系方式" name="contact" required>
                    <label><b>我的建议</b></label>
                    <textarea class="w3-input w3-border" placeholder="在这里输入我的建议" name="comment" required></textarea>
                    <button class="w3-btn-block w3-green w3-section w3-padding" type="submit">提交</button>
                </div>
            </form>

        </div>
    </div>

</footer>
    @Scripts.Render("~/bundles/jsx")
</body>

</html>
