
<!DOCTYPE html>
<html>
<head>
    <title>23333</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
</head>
<style>
    html, body, h1, h2, h3, h4, h5 {
        font-family: "Open Sans", sans-serif;
    }
</style>
<body class="w3-theme-l5">
<!-- Navbar -->
<div class="w3-top">
    <img style="height: 80px; width: 100%" src="~/Content/Images/header.jpg"/>
</div>

<!-- Page Container -->
<div class="w3-container w3-content" style="max-width: 1990px; margin-top: 80px">
    <!-- The Grid -->
    <div class="w3-row">
        <!-- Left Column -->
        <div class="w3-col m3">
            <!-- Profile -->
            <div class="w3-card-2 w3-round w3-white">
                <div class="w3-container">
                </div>
            </div>
        </div>

        <!-- Middle Column -->
        <div class="w3-col m6" id="content">
            @RenderBody()
        </div>

        <!-- Right Column -->
        <div class="w3-col m3">
            <div class="w3-card-2 w3-round w3-white w3-center">
                <div class="w3-container">
                </div>
            </div>
        </div>

        <!-- End Grid -->
    </div>

    <!-- End Page Container -->
</div>
<br>

<!-- Footer -->
<footer class="w3-container w3-orange w3-padding-16">
    
</footer>

</body>
@Scripts.Render("~/bundles/js")
@Scripts.Render("~/bundles/jsx")
</html>
