.w3-clear {
    margin: 0
}

body {
    background-color:#f3f3f3
}

.width-100{
    width:100%;
}

.header-color{
    background-color:#fad61f;
    height:80px
}

.logo{
    display: block;
    height: 79px;
    width: 207px;
    text-indent: -999999px;
    background-position: 0 0;
    background-image:url('../Images/logo_temp.png');
    margin-left:20%
}

.text-center{
    text-align:center
}

#change-content{
    padding:0;
    margin:15px;
}

#change-content button{
    width:100%
}

.min-height{
    min-height:300px
}