@{
    ViewBag.Title = "Index";
}

<div id="main">
    <div id="header">

    </div>
    <div id="body">
        <div id="content">
            <div class="post">
                <h3 class="post-title">Rank 100</h3>
                <div class="post-header">够可以的</div>
                <div class="post-content">
                    <img src="~/Content/Images/demo.gif"/>
                </div>
                <div class="post-remarks">刺客信条， 开挂了吧？</div>
            </div>
        </div>
    </div>
    <div id="footer">
        
    </div>
</div>
